<% include partials/header.ejs %>
<div class="container">
	<div class="register">
		<h1 class='main-header'>Register</h1>
		<form action="/login" id="register-form" method="POST">
			<label>Username</label>
			<input type="text">
			<label>Password</label>
			<input type="password">
			<input type="submit">
		</form>
	</div>
</div>
<% include partials/footer.ejs %>
